@model GestionCitas.Models.Ocupacion

@{
	ViewBag.Title = "Borrar";
}

<link href=" @Url.Content("~/Content/Site.css") " rel="stylesheet" type="text/css" />

<br />
<center><h2>Eliminar  ocupación</h2></center>

<center><h3>Estas seguro que quieres eliminar esta ocupación</h3></center>
<div>
	<h4>Ocupación</h4>
	<hr />
	<dl class="dl-horizontal">
		<div class="col-lg-6">
			<dt>
				@Html.DisplayNameFor(model => model.Seq)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Seq)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Descripcion)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Descripcion)
			</dd>


		</div>
	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

	<div class="form-actions no-color">
		<input type="submit" value="Borrar" class="btn btn-danger" /> |
		@Html.ActionLink("Regresar a la lista de pacientes", "Index")
	</div>
	}
</div>
