@model GestionCitas.Models.Ocupacion

@{
	ViewBag.Title = "Detalles ocupación";
}

<link href=" @Url.Content("~/Content/Site.css") " rel="stylesheet" type="text/css" />

<br />
<center><h2>Información de la ocupación</h2></center>
<div>
	<div>
		<h4>Ocupacion</h4>
		<hr />

		<dl class="dl-horizontal">
			<div class="col-lg-1">
				<dt>
					@Html.DisplayNameFor(model => model.Seq)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Seq)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.Descripcion)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Descripcion)
				</dd>


			</div>
		</dl>
	</div>
</div>
<center>
	<button type="button" class="btn btn-warning">
		@Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @style = "color:white;" })
	</button> |
	@Html.ActionLink("Regresar a la lista de pacientes", "Index")
</center>

