@model GestionCitas.Models.Paciente

@{
    ViewBag.Title = "Crear Pacientes";
}

<br />
<h2 style="font-weight:bold;text-decoration-line:underline"><center>Creación de pacientes</center></h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Pacientes</h4>
    <p><spam style="color:red"> Campos requeridos *</spam></p>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label col-md-2">Cedula<spam style="color:red"> *</spam></label>
                <div class="col-md-8">
                    <input type="number" id="Cedula" name="Cedula" class="form-control" />
                    @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, "Nombre Completo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    <input type="number" id="Telefono" name="Telefono" class="form-control" />
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, "Correo Electrónico", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-lg-6">


            <div class="form-group">
                @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    <input type="hidden" id="Sexo" name="Sexo" />
                    <input type="radio" id="male" name="SexoGroup" value="M" class="Sex" />M <input type="radio" id="Female" name="SexoGroup" value="F" class="Sex" />F
                    @*@Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OcupacionID, "Ocupación", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.DropDownList("OcupacionID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OcupacionID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    <input type="number" id="Celular" name="Celular" class="form-control" />
                    @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EstadoCivilID, "Estado Civil", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.DropDownList("EstadoCivilID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EstadoCivilID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FechaNacimiento, "Fecha de nacimiento", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    <input type="date" id="FechaNacimiento" name="FechaNacimiento" class="form-control" />
                    @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

    </div>
    <center>
        <input type="submit" value="Crear" class="btn btn-success" style="width:450px" />
    </center>

</div>

}



@Html.ActionLink("Regresar a la lista de pacientes", "Index")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            $('.Sex').change(function () {
                $('#Sexo').val($('input[name="SexoGroup"]:checked').val());
            });
        });

        //Determinar la cantidad maxima de numeros a ingresar en el campo Cedula
        //Cedula es el nombre del input
        Cedula.oninput = function () {
            this.value = this.value.slice(0, 11);
        }
        //Determinar la cantidad maxima de numeros a ingresar en el campo Telefono
        //Telefono es el nombre del input
        Telefono.oninput = function () {
            this.value = this.value.slice(0, 10);
        }
        //Determinar la cantidad maxima de numeros a ingresar en el campo Celular
        //Telefono es el nombre del input
        Celular.oninput = function () {
            this.value = this.value.slice(0, 10);
        }
    </script>

}

