@model GestionCitas.Models.Citas

@{
	ViewBag.Title = "Crear Citas";
}

<link href=" @Url.Content("~/Content/Site.css") " rel="stylesheet" type="text/css" />

<br />
<center><h2>Creación de citas</h2></center>


@using (Html.BeginForm())
{
		@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Citas</h4>
		<p><spam style="color:red"> Campos requeridos *</spam></p>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	<div class="row">
		<div class="col-lg-offset-3">
			<div class="form-group">
				<label class="control-label col-md-2">Paciente<spam style="color:red"> *</spam></label>
				<div class="col-md-10">
					@Html.DropDownList("IdPaciente", null, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.IdPaciente, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-md-2">Salón<spam style="color:red"> *</spam></label>
				<div class="col-md-10">
					@Html.DropDownList("IdSalon", null, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.IdSalon, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-md-2">Fecha<spam style="color:red"> *</spam></label>
				<div class="col-md-10">
					@Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="col-lg-offset-3">
			<div class="form-group">
				<label class="control-label col-md-2">Hora<spam style="color:red"> *</spam></label>
				<div class="col-md-10">
					@Html.EditorFor(model => model.Hora, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Hora, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-md-2">Motivo<spam style="color:red"> *</spam></label>
				<div class="col-md-10">
					@Html.EditorFor(model => model.Motivo, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Motivo, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.IdEstadoCita, "Estado Cita", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.DropDownList("IdEstadoCita", null, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.IdEstadoCita, "", new { @class = "text-danger" })
				</div>
			</div>

		</div>
	</div>





		<center>
			<input type="submit" value="Crear" class="btn btn-success" style="width:450px" />
		</center>
	</div>
 }

		<div>
			@Html.ActionLink("Regresar a la lista de citas", "Index")
		</div>

	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
	}
