@model GestionCitas.Models.Citas

@{
	ViewBag.Title = "Delete";
}
<link href=" @Url.Content("~/Content/Site.css") " rel="stylesheet" type="text/css" />

<br />
<center><h2>Eliminar citas</h2></center>
<center><h3>Estas seguro que quieres eliminar esta cita?</h3></center>
<div>
	<h4>Citas</h4>
	<hr />
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-md-6"> @Html.DisplayNameFor(model => model.Seq)</div>
			<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0"> @Html.DisplayFor(model => model.Seq)</div>
		</div>

		<div class="row">
			<div class="col-sm-5 col-md-6">@Html.DisplayNameFor(model => model.Fecha)</div>
			<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">@Html.DisplayFor(model => model.Fecha)</div>
		</div>
		<div class="row">
			<div class="col-sm-5 col-md-6">@Html.DisplayNameFor(model => model.Hora)</div>
			<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">@Html.DisplayFor(model => model.Hora)</div>
		</div>

		<div class="row">
			<div class="col-sm-5 col-md-6">@Html.DisplayNameFor(model => model.Motivo)</div>
			<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">@Html.DisplayFor(model => model.Motivo)</div>
		</div>

		<div class="row">
			<div class="col-sm-5 col-md-6">@Html.DisplayNameFor(model => model.FechaCreado)</div>
			<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">@Html.DisplayFor(model => model.FechaCreado)</div>
		</div>
		<div class="row">
			<div class="col-sm-5 col-md-6">@Html.DisplayNameFor(model => model.EstadoCitas.Descripcion)</div>
			<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">@Html.DisplayFor(model => model.EstadoCitas.Descripcion)</div>
		</div>
		<div class="row">
			<div class="col-sm-5 col-md-6">@Html.DisplayNameFor(model => model.Salones.Salon)</div>
			<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">@Html.DisplayFor(model => model.Salones.Salon)</div>
		</div>
		<div class="row">
			<div class="col-sm-5 col-md-6">@Html.DisplayNameFor(model => model.Pacientes.Cedula)</div>
			<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">@Html.DisplayFor(model => model.Pacientes.Cedula)</div>
		</div>
	</div>`
	<center>
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			<div class="form-actions no-color">
				<input type="submit" value="Borrar" class="btn btn-danger" /> |
				@Html.ActionLink("Regresar a la lista de pacientes", "Index")
			</div>
		}
	</center>

</div>
