@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<body style="overflow:hidden;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background:#35558c">
        <div class="container" style="width:100%; float:left;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gestión Citas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="margin:0 auto; width: fit-content;">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Citas", "Index", "Citas")</li>
                    <li>@Html.ActionLink("Pacientes", "Index", "Pacientes")</li>
                    <li>@Html.ActionLink("Ocupación", "Index", "Ocupacions")</li>
                    <li>@Html.ActionLink("Salones", "Index", "Salones")</li>
                    <li>@Html.ActionLink("Estado Citas", "Index", "EstadoCitas")</li>
                    <li>@Html.ActionLink("Estado Civil", "Index", "EstadoCivils")</li>


                </ul>
            </div>
        </div>
    </div>
    <div class="jumbotron" style="height:60%; display:flex; align-items:center; text-align:center; background-image:url(../Images/bg1.jpg); color:#35558c">
        <div class="container">
            <h1>Gestión Citas</h1>
            <p class="lead" style="font-weight:400;">Proyecto final para la asignatura Desarrollo de Software II</p>
            <p><a href="/Home/Contact" class="btn btn-primary btn-lg">Mas información sobre el equipo &raquo;</a></p>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-4-c">
            <img class="img-c" src="~/Images/logo1.png">
            <h2 class="h2-c">Registro de pacientes</h2>
            <p class="p-c">
                Registre a los pacientes de su hospital, incluyendo todos los datos pertinentes para
                mantener una buena nómina que permitirá organizar las citas de manera adecuada. 
            </p>
        </div>
        <div class="col-md-4-c">
            <img class="img-c" src="~/Images/logo2.png">
            <h2 class="h2-c">Tracking de citas</h2>
            <p class="p-c">En la pestaña Citas tendrá accesso a una lista en vivo de las convocatorias que hay
               hasta el momento, donde podrá crear, consultar y modificar el estado de las mismas.
            </p>
        </div>
        <div class="col-md-4-c">
            <img class="img-c" src="~/Images/logo3.png">
            <h2 class="h2-c">Gestión de salas</h2>
            <p class="p-c">Tiene acceso a una lista con las salas que hay disponibles en el hospital, 
               pudiendo añadir las que considere necesarias o modificar las que ya se encuentran registradas.
            </p>
        </div>
    </div>

</body>

    