@model GestionCitas.Models.Salones
@{
	ViewBag.Title = "Borrar salon";
}

<link href=" @Url.Content("~/Content/Site.css") " rel="stylesheet" type="text/css" />

<br />
<center><h2>Eliminar  salón</h2></center>

<center><h3>Estas seguro que quieres eliminar este salón</h3></center>

<div>
	<h4>Salón</h4>
	<hr />
	<dl class="dl-horizontal">
		<div class="col-lg-6">
			<dt>
				@Html.DisplayNameFor(model => model.Seq)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Seq)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Salon)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Salon)
			</dd>
		</div>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Borrar" class="btn btn-danger" /> |
			@Html.ActionLink("Regresar a la lista de pacientes", "Index")
		</div>
	}
</div>
